@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* search bar */
.search {
    max-width: 600px;
    height: 30px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #cfcece;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
}

.search:focus {
    border: 2px solid #2f2f2f;
    caret-color: #2f2f2f;
    color: #2f2f2f;
    box-shadow: 4px 4px 10px #9a9a9a;
}

.search:focus::placeholder {
    color: #2f2f2f;
}

.header__search input {
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
    height: 100%;
}


/* header */

.material-icons {
    color: rgb(96, 96, 96);
}

.header {
    background-color: #393939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left img {
    width: 90px;
    margin-left: 0.5rem;
}

.header__left a {
    text-decoration: none;
}

.header__left h1 {
    color: #0d0d0d;
}

.header__left h1 span {
    color: #707070;
}

.header i {
    padding: 0 7px;
    cursor: pointer;
}

.header i a {
    text-decoration: none;
    color: #707070;
}

.header__icons i {
    color: #7f7f7f;
    transition: all 0.3s ease;
}

.header__icons i:hover {
    color: #aeaeae;
    text-shadow: 2px 3px rgba(159, 159, 159, 0.692);
}


/* menu */
.mainBody {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
    /* height: calc(100vh - 70px);
    background-color: #212121;
    background-image: linear-gradient(32deg,
            rgba(8, 8, 8, 0.54) 30px,
            transparent); */

}

.sidebar {
    height: 100%;
    width: 230px;
    background-color: #212121;
    overflow-y: scroll;
}

.sidebar__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar__category {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.sidebar__category span {
    margin-left: 15px;
    color: #c2c2c2;
}

.sidebar__category:hover {
    background: #444;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

hr {
    height: 1px;
    background-color: #444444;
    border: none;
}

/*--------------------------------------------------------------------*/

.videos {
    background-color: #121212;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
}

.videos__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    width: 310px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.video__thumbnail {
    width: 100%;
    height: 170px;
}

.video__thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.video__details {
    display: flex;
    margin-top: 10px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
}

h4 {
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(96, 96, 96);
}